
version: '3.8'

services:
  db:
    image: postgres:16
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_DB: bee-productive
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: msa 
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: stock-exchange-backend
  #   ports:
  #     - "55554:55554"
  #   environment:
  #     SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/bee-productive
  #     SPRING_DATASOURCE_PASSWORD: msa 
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   restart: on-failure

volumes:
  pgdata:
